$maincolor: #664986;

$inProgress: rgb(255, 255, 255);
$completed: rgb(77, 215, 120);

$critical: rgb(255, 235, 235);
$high: rgb(255, 235, 235);
$medium: rgb(241, 251, 235);
$low: rgb(229, 247, 255);

:root {
    --critical: rgb(255, 235, 235);
    --high: rgb(255, 235, 235);
    --medium: rgb(241, 251, 235);
    --low: rgb(229, 247, 255);

}


.task-wrapper {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 20px;
      
}

.task-manager {

    display: grid;


    width: 100%;
    max-width: 1200px;
    height: 90vh;
    max-height: 900px;
    grid-template-columns: 200px repeat(12, 1fr); /* e.g. the first 20% means the first column is 20% wide */
    grid-template-rows: auto;
    grid-template-areas:
        "l c c c c c c c c c c c c";
        
}



.left-bar {
    background-color: #fff;
    border-right: 1px solid #e3e7f7;
    grid-area: l;
    color: #6c4f8f;


}

.left-bar .left-content .logo {
    padding: 3rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;


}

.left-bar .left-content .logo img {
    object-fit: cover;
    height: 100%;
    width: 100%;

}

.left-bar .left-content .action-list {
    list-style-type: none;
    padding: 0;
}

.left-bar .left-content .action-list .item {
    padding: 1rem 0 1rem 2rem;
    display: flex;
    align-items: center;
    transition: box-shadow var(--transition);
    cursor: pointer;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 600;
}

.left-bar .left-content .action-list .item:hover {
    opacity: .75;
    transform: translate(5%);
}

.left-bar .left-content .action-list .focusedItem {
    padding: 1rem 0 1rem 2rem;
    display: flex;
    align-items: center;
    transition: box-shadow var(--transition);
    cursor: pointer;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 600;
    background-color: #6c4f8f5e;
}

.left-bar .icon {
    margin-right: 10px;
    height: 14px;
    width: 14px;
}



.left-bar .left-content .category-list {
    margin-top: 50px;
    list-style-type: none;
    
}


.page-content {
    background-color: #fff;

    grid-area: c;
    border-right: 1px solid #e3e7f7;
    display: flex;
    flex-direction: column;
    overflow: auto;
    position: relative;

    .header-create {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header {
        font-size: 30px;
        font-weight: 700;
        padding: 10px;
        color: #6c4f8f;

    }

    .sub-header {
        color: #6c4f8f45;
        font-size: 14px;
    }

    .create-button {
        margin-right: 10px;
        background-color: #6c4f8f;
        color: #fff;


    }

    .project-wrapper {

        margin-top: 20px;
        flex: 1;
        overflow: auto;


        

        .my-tasks {
            display: grid;
            grid-template-columns: 2fr 1fr 1fr 1fr 1fr 0.5fr;
            grid-template-rows: auto;
            grid-auto-rows: auto;
            grid-auto-columns: auto;
            
        }


        .column-headers {
            display: contents;
        }

        .column-headers > span {
            padding: 5px;
        }



        .column-headers .item {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .column-headers .item-name {
            display: flex;
            align-items: center;
        }

        .task-row {
            display: contents;
            cursor: pointer;

        }
        .task-row > span {
            border-top: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            padding-left: 5px;
            padding-right: 5px;
            padding-top: 10px;
            padding-bottom: 10px;
            
        }
        .task-row:hover > span {
            background-color: #6c4f8f1a;
;
        }
        .task-row .item {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .task-row .status-fix {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .task-row .priority-fix {
            display: flex;
            justify-content: center;
            width: 100%;
            align-items: center;
        }

        .task-row .item-name {
            display: flex;
            align-items: center;
        }
        .task-row .drop-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px;
        }
        .task-row .drop-item:hover {
            background-color:rgba(235, 235, 235, 1);
        }
        .task-row .ellip-tool {
            display: flex;
            align-items: center;
            cursor: pointer;


        }
        .task-row .ellip-tool:hover {
            background-color:rgba(235, 235, 235, 1);
        }
        .task-row .ellip-tool .icon {
            margin-right: 10px;
            margin-left: 10px;
        }

        
    }




  }











/* page-content */


.right-bar {
    grid-area: r;
    background-color: #fff;
    overflow:auto;
    display: flex;
    flex-direction: column;
    display: none;
}


.right-bar .header {
    padding: 25px;
    padding-top: 50px;
    font-size: 20px;
    color: rgb(168, 158, 158);

}

.right-bar .box-wrapper {
    overflow: auto;
}

.right-bar .box {
    background-color: #fde7ea;
    padding: 20px;
    margin: 20px;
    cursor: pointer;
    border-radius: 12px;
    box-shadow: 2px 2px 4px 0px rgba(235, 235, 235, 1);


}

.right-bar .box:hover {
    transform: translatex(2px);
}

.right-bar .box .time {
    font-size: 10px;
    margin-bottom: 10px;

}

.right-bar .box .title {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
}

.right-bar .box .people {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    font-weight: 500;
    flex-wrap: wrap;
}

.im {
    padding: 5px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 4px;
    object-fit: cover;
}


/*  modals */


/* delete task modal */

#deleteTask {

    .garbage {
        display: flex;
        justify-content: center;
        align-items: center;

        .garbage-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            border: 1px solid red;
            margin-bottom: 20px;
        }
        .garbage-icon .edit {
            font-size: 40px;
            color: red;
        }
    }


}

/* create project modal */ 
.create-project-dialog {

    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow: auto;

    .create-project-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .create-project-header .title {
        font-size: 20px;
        font-weight: 600;
        line-height: 1;
    }

    .create-project-form {
        overflow: auto;
    }


    .item {
        width: 350px;
        margin-bottom: 20px;
    }

    .summary {
        width: 100%;
        margin-bottom: 20px;
    }

    .chat-break {
        margin-bottom: 25px;
        margin-top: 25px;
    }

    .chat-break .line {
        width: 100%;
        border-bottom: 1px solid #ddd;
    }


    .details {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        .difficulty {
            width: 100%;
            padding-left: 20px;
            padding-right: 20px;
        }

        .proj-date {
            width: 100%;
            padding-left: 20px;
            padding-right: 20px;
        }


    }



};


/* edit button form */
#editAllTask {

    .item-2 {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }

    .item {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


@media only screen and (max-width: 742.5px) {
    .task-manager {
        
        padding: 20px;

        grid-template-columns: 1fr;
        grid-template-rows:  4fr 2fr;
        grid-template-areas:
            "c"
            "r";

    }
    .right-bar {
        overflow: visible;
    }

    .left-bar {
        display: none;
    }


}